body {
	background-color: #735911;
	border: 20px;
	max-width: 1500px;
	margin-left: auto;
	margin-right:auto;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px
}

h1 {
	text-align: center;
	font-family: 'Akronim', cursive;
	font-size: 72px;
}

h2 {
	text-align: center;
	font-size: 40px;
}

p{ 
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
	font-family: 'Acme', sans-serif;
}


li {
	font-size:25px;
	font-family: 'Acme', sans-serif;
}


a:link{
	color:#032b0d;
}
a:visited{
	color:#5c0618;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 95%;
}

@media (min-width: 600px) {
    h1 {
        font-size: 100px;
	}
	
	h2 {
		font-size:60px;
	}

    p {
        font-size: 30px;
	}
	
	li{
		font-size:40px	
	}
}



@keyframes
fade_in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  } 
}

.first_fade {
	animation-name: fade_in;
	animation-duration: 5s;
}
.second_fade {
	animation-name: fade_in;
	animation-duration: 5s;
	animation-delay: 1s;
	animation-fill-mode: both;
}
.third_fade {
	animation-name: fade_in;
	animation-duration: 5s;
	animation-delay: 2s;
	animation-fill-mode: both;
}
.fourth_fade {
	animation-name: fade_in;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-fill-mode: both;
}